# Chặn file chứa Key, Mật khẩu
.env
.env.*
*.env
! .env.example  # (Giữ lại file mẫu để đồng nghiệp biết đường điền)

# PYTHON SYSTEM
__pycache__/
*.pyc
*.pyo

# VIRTUAL ENV
venv/
.venv/
env/
ai_engine/venv/

# HỆ ĐIỀU HÀNH
.DS_Store
Thumbs.db

# DỮ LIỆU & KẾT QUẢ 
ai_engine/data/*
ai_engine/logs/*
ai_engine/reports/*

# NGOẠI LỆ
!ai_engine/data/.gitkeep
!ai_engine/logs/.gitkeep
!ai_engine/reports/.gitkeep